@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
html {
    font-size: 62.5%;
}
body {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-cyan);
    height: calc(100vh - 1px)
}
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-blue: hsl(227, 10%, 46%);
    --dark-grey: hsl(0, 0%, 59%);
}
.card {
    margin: 0 auto;
    text-align: center;
}
.card__wrapper {
    max-width: 420px;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;
} 
.card__content {
    position: relative;
    padding-top: 6rem;
}
.card__content img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card__content {
    font-weight: bold;
}
.card__content .card__bottom--heading {
    margin-top: 2rem;
}
.card__content .card__bottom--heading span {
    color: var(--dark-grey);
    font-weight: 600;
    margin-left: 0.5rem;
}
.card__content .card__bottom--address {
    color: var(--dark-grey);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1.5rem 0;
}
.card__content::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--dark-grey);
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: 7rem;
    z-index: 1;
}
.footer {
    display: flex;
    justify-content: space-evenly;
}
.footer .card__bottom--item {
    margin: 1.8rem 0;
}
.footer .card__bottom--item p {
    font-size: 1.6rem;
}
.footer .card__bottom--item span {
    color: var(--dark-grey);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}